.titulo{
  font-size: 150%;
}
.grid-container {
  display: grid;
  grid-template-columns: 140px 140px 140px;
  grid-gap: 20px;
  background-color: #fff;
  color: #444;
}

hr{
  height: 7px;
  width: 50px;
  border-radius: 5px;
  background-color: black;
  margin-left: 0;
}

.coder {
  color: #fff;
  position: relative;
}

.coder img{
  height: auto;
  width: 100%;
  z-index: -1;
  /* border-radius: 5px; */
}

.coder .text{
  z-index: 100;
  position: absolute;
  right: 3%;
  bottom: 6%;
  text-shadow: 1px 1px #000000;
  font-weight: bold;

}
